html {
  font-family: "Courier New", Courier, monospace;
  background: #dadbd5;
}

#resume {
  background-color: #dadbd5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 150vh;
  max-width: 120vh;
  margin: 0 auto;
  padding: 25px;
}

#left-side {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex: 3;
  padding-right: 30px;
}

#right-side {
  background-color: #49b6cc;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 250px;
}

#name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2b9cb3;
}

#name-part-1 {
  text-align: center;
  padding: 15px;
  color: white;
}

#name-part-2 {
  text-align: center;
  padding: 10px;
  color: #cccccc;
}

#contact {
  background-color: #49b6cc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  padding-left: 20px;
}

#education {
  background-color: #49b6cc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 20px;
}

#education-title {
  color: white;
}

#degree {
  border: 1px hidden black;
}

#languages-wrapper {
  background-color: #49b6cc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 10px;
}

#languages-title {
  color: white;
}

.resume-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
}

.header-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #156b7d;
  font-size: 1.5em;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.header-title {
  color: #156b7d;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.middle {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.position {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: space-between;
}

.position-part-1 {
  justify-content: flex-start;
}

.position-part-2 {
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.organisation {
  color: #cccccc;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.body {
  text-align: justify;
  padding: 0px;
  margin: 0px;
  padding-left: 10px;
}

.contact-line {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 2px;
}

.contact-icon {
  align-items: center;
  color: white;
  padding: 3px;
}

.contact-info {
  padding-right: 25px;
  padding-right: 5px;
  font-size: 12px;
  padding: 3px;
  justify-content: center;
  align-items: center;
}

.degree-title {
  color: #ffffff;
}

.degree-info {
  color: #cccccc;
  font-size: 12px;
}

.language-info {
  flex-direction: space-around;
}

.language {
  font-size: 12px;
  color: #ffffff;
}

.info {
  font-size: 11px;
  color: #cccccc;
  margin-left: 5px;
}
